<ion-header>
  <ion-toolbar color="cinzaescuro">
    <ion-title>Sensores</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="openHome()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deviceDisconnected('conexao-bluetooth')">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="novo()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza" padding>

  <ion-card color="cinzaescuro">
    <ion-card-header>Informações do dispositivo</ion-card-header>
    <ion-card-content>
      <h2>{{ info }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-list #lista class="cinza">
    <ion-item-sliding *ngFor="let sensor of sensores" color="cinza">
      <ion-item color="cinza">
        {{ sensor.nome }}
        <ion-toggle checked="{{ sensor.habilitado }}" (ionChange)="updateHabilitado(sensor)" slot="end" color="success">
        </ion-toggle>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="cinza" (click)="update(sensor)">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-item-option>
        <ion-item-option color="cinza" (click)="delete(sensor)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>