<ion-header>
  <ion-toolbar color="cinzaescuro">
    <ion-title>Automação</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="connectBluetooth()">
        <ion-icon name="bluetooth"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="novoSensor()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza" padding>

  <ion-card color="cinzaescuro">
    <ion-card-header>Informações do dispositivo</ion-card-header>
    <ion-card-content>
      <h2>{{ info }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-list class="cinza">
    <ion-item color="cinza">
      Teste 1
      <ion-toggle slot="end" color="success"></ion-toggle>
    </ion-item>
    <ion-item color="cinza">
      Teste 2
      <ion-toggle slot="end" color="success"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>