/*.icon-card {
  /* icone
  position: absolute;
  font-size: 3.5em;
  left: 62%;
  top: 58%;
}

h2 {
  /* simbolo 
  position: absolute;
  font-size: 30px;
  left: 65%;
  margin-top: 10%;
}*/

h3 {
  /* valor temperatura */
  position: relative;
  font-size: 65px;
  font-weight: bold;
  margin-top: -8%;
}

h4 {
  /* nome */
  position: relative;
  font-size: 15px;
  margin-top: 0%;
}
