<ion-header>
  <ion-toolbar color="cinzaescuro">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deviceDisconnected('conexao-bluetooth')">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza">

  <ion-grid>
    <ion-row align-items-center>
      <ion-col align-self-center size-sm="6">
        <ion-card text-center padding color="warning">
          <ion-icon class="icon-card" name="thermometer"></ion-icon>
          <h2>ºC</h2>
          <h3>30</h3>
        </ion-card>
      </ion-col>
      <ion-col align-self-center size-sm="6">
        <ion-card text-center padding color="warning">
          <ion-icon class="icon-card" name="water"></ion-icon>
          <h2>%</h2>
          <h3>75</h3>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>