<ion-header>
  <ion-toolbar color="cinzaescuro">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateDados()">
        <ion-icon name="refresh" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deviceDisconnected('conexao-bluetooth')">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza">

  <ion-grid fixed>
    <ion-row >
      <ion-col align-self-center size-sm="6">
        <ion-card text-center padding color="primary">
          <h4>Temperatura ºC</h4>
          <h3>30</h3>
        </ion-card>
      </ion-col>
      <ion-col align-self-center size-sm="6">
        <ion-card text-center padding color="primary">
          <h4>Humidade %</h4>
          <h3>75</h3>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>