<ion-header>
  <ion-toolbar color="cinzaescuro">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deviceDisconnected('conexao-bluetooth')">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza" padding>

</ion-content>