.icon-card {
    position: absolute;
    font-size: 4em;
    left: 62%;
    top: 55%;
}

h2 {
    position: absolute;
    font-size: 30px;
    left: 65%;
    margin-top: 5%;
}

h3 {
    position: relative;
    font-size: 75px;
    right: 18%;
    margin-top: 5%;
}